[submodule "utils"]
	path = utils
	url = https://github.com/MLAB-project/utils.git
[submodule "markdown-checklist"]
	path = markdown-checklist
	url = https://github.com/FND/markdown-checklist.git
[submodule "Python-Markdown"]
	path = Python-Markdown
	url = https://github.com/waylan/Python-Markdown.git
[submodule "pygments"]
	path = pygments
	url = ./pygments
